* {
  box-sizing: border-box;
}
@font-face{
	font-family:'Byekan';
	src:url('../fonts/BYekan/1.eot');
    src:url('../fonts/BYekan/1.eot') format('eot');
	src:url('../fonts/BYekan/3.woff'); format('woff');
    src:url('../fonts/BYekan/2.ttf'); format('truetype');
    font-weight: normal;
    font-style: normal;			
}
@font-face {
    font-family: 'IranNastaliq';
    src: url('../fonts/IranNastaliq/IranNastaliq.eot');
    src: url('../fonts/IranNastaliq/IranNastaliq.eot') format('eot');
    src:url('../fonts/IranNastaliq/IranNastaliq.woff2') format('woff2');
    src:url('../fonts/IranNastaliq/IranNastaliq.woff'); format('woff');
    src:url('../fonts/IranNastaliq/IranNastaliq.ttf'); format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
  font-family: "Byekan";
  margin: 0;
  padding: 0;
  height: auto;
}
.a {
  background-color: #aee4fb;
  border-radius: 5px;
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
  color: #000;
  padding-top: 15px;
  position: absolute;
  top: 17%;
  left: 20%;
  width: 300px;
  max-width: 100%;
  text-align: center;
  direction: rtl;
}
.a .b {
  border: 2px solid #93024a;
  border-radius: 50%;
  padding: 7px;
}
h1 {
  color: #93024a;
  font-size: 25px;
}
a {
  text-decoration: none;
}
a:hover {
  opacity: 0.7;
  box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.95);
}
p.c {
  text-align: center;
  font-size: 60px;
  margin-top: 0;
  font-family: "IranNastaliq";
  direction: rtl;
}

.a2 {
  background-color: #aee4fb;
  border-radius: 5px;
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
  color: #000;
  padding-top: 15px;
  position: absolute;
  top: 17%;
  left: 60%;
  width: 300px;
  max-width: 100%;
  text-align: center;
  direction: rtl;
}
.a2 .b2 {
  border: 2px solid #93024a;
  border-radius: 50%;
  padding: 7px;
}
.content-area {
  width: 100%;
  position: relative;
  height:auto;
}
.content-area h2 {
  font-family: "IranNastaliq";
  padding-top: 30px;
  font-size: 60px;
  margin: 0;
}
.content-area h4 {
  direction: rtl;
  font-family: "Byekan";
  text-align: right;
  font-size: 22px;
}
.content-area p {
  padding: 2% 0;
  direction: rtl;
  font-family: "Byekan";
  line-height: 30px;
}
h2.center {
  text-align: center;
}
.content-area h2{
    font-family: 'IranNastaliq';
    color: #93024a;
    padding-top:30px;
    font-size:60px;
    margin:0;
}
.content-area h4{
     direction:rtl;
     font-family:'Byekan';
     text-align:right;
     font-size:22px;
}
.content-area p{
    padding:2% 0;
    direction:rtl;
    font-family:'Byekan';
    line-height:30px;
}
h2.center{
    text-align:center;
}
.wrapper{
    background-image: url(./images/000.jpeg);
    background-size: cover;
    height: auto;
} 

.main {
  background: #d7a1f9;
  color: #44005d;
  padding: 30px;
  border-radius: 7px;
  box-shadow: 0 50px 50px rgba(0, 0, 0, 0.2);
  min-height: 100px;
  min-width: 450px;
  max-width: 400px;
  margin: 10 auto;
  padding: 30px;
 margin-top: 30px;
}

h1[type="log"] {
  font-size: 2rem;
  text-align: center;
  margin-top: 0;
  margin-bottom: 35px;
  font-weight: bold;
  color: #72068e;
}

input[type="log"],
button[type="log"],
select[type="log"],
textarea[type="log"] {
  display: block;
  border: 1px solid #ccc;
  border-radius: 50px;
  margin-top: 15px;
  line-height: 35px;
  height: 20px;
  padding: 23px 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 1rem;
}

button[type="log"] {
  font-family: BYekan;
  background: #93024afb;
  color: #fff;
  line-height: 0px;
  height: 40px;
  font-size: 1.2rem;
  border: 0;
}

button[type="log"]:hover {
  opacity: 0.7;
  cursor: pointer;
}

a[type="sign"] {
  display: block;
  text-align: center;
  margin-top: 20px;
  font-size: 1.2rem;
  color: #72068e;
}

@media screen and (max-width: 500px) {
  .main {
    background: #d7a1f9;
    color: #72068e;
    padding: 30px;
    border-radius: 7px;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.2);
    max-height: 370px;
    min-width: 170px;
    max-width: 370px;
    margin: 10 auto;
    padding: 30px;
  }
  h1[type="log"] {
    font-size: 1.5rem;
  }

  input[type="log"],
  button[type="log"],
  select[type="log"],
  textarea[type="log"] {
    font-size: 1rem;
  }

  button[type="log"] {
    font-size: 1.1rem;
  }

  a[type="sign"] {
    font-size: 1.1rem;
  }
}
@media (max-width: 992px) {
  .container main {
    padding: 0 5rem;
    height: 1100px;
  }
  .a,
  .a2 {
    position: static;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
  }
  .a .b,
  .a2 .b2 {
    display: block;
    margin: 0 auto 15px;
  }
  h1 {
    font-size: 22px;
  }
  p.c {
    font-size: 40px;
  }
}
@media (max-width: 767px) {
  .container main {
    padding: 0 5rem;
    height: 1100px;
  }
  .a,
  .a2 {
    position: static;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
  }
  .a .b,
  .a2 .b2 {
    display: block;
    margin: 0 auto 15px;
  }
  h1 {
    font-size: 22px;
  }
  p.c {
    font-size: 40px;
  }
}

@media (max-width: 576px) {
  .container main {
    padding: 0 5rem;
    height: 1100px;
  }
  .a,
  .a2 {
    position: static;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
  }
  .a .b,
  .a2 .b2 {
    display: block;
    margin: 0 auto 15px;
  }
  h1 {
    font-size: 22px;
  }
  p.c {
    font-size: 40px;
  }
}
